$primary: #92aa9b;
$secondary: #FF6922;
$light: #EFFDF5;
$dark:#92aa9b;

$font-family-base: 'Heebo', sans-serif;

$headings-font-family: 'Inter', sans-serif;

$body-bg: $light;

$body-color: #33460f;

$headings-color: $dark;

$headings-font-weight: 700;

$display-font-weight: 800;

$enable-responsive-font-sizes: true;

$border-radius: 5px;

$link-decoration: none;

$enable-negative-margins: true;






@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "src/styles"
